<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Indel</title>
</head>
<body>
    <div id="error-modal" class="modal hidden">
        <div id="error-modal-content" class="error-message"></div>
    </div>
    <div id="help-modal" class="modal hidden">
        <div id="help-modal-content" class="help-message">
            <p id="help-modal-close" style="width: 20px; margin: 0;">&times;</p>
            <h2>INDEL</h2>
            <p class="definition">
                (noun) A genetic mutation caused by the
                <span class="insertion">insertion</span> or
                <span class="deletion">deletion</span> of a segment of DNA into an organism's genome
            </p>
            <p>
                The goal of INDEL is to get from the starting word
                to the goal word.
            </p>
            <p>
                Submit new words which have either an <span class="insertion">insertion</span>,
                a <span class="deletion">deletion</span>,
                or a <span class="mutation">mutation</span>.
            </p>
            <p class="example">
                <span class="insertion">Insertion</span>: SIGH &rarr; SIGHT
            </p>
            <p class="example">
                <span class="deletion">Deletion</span>: BRIM &rarr; RIM
            </p>
            <p class="example">
                <span class="mutation">Mutation</span>: BELT &rarr; BEET
            </p>
            <p>
                You may also split or combine words for free by adding or removing a space. This
                split or combination can be combined with a mutation.
            </p>
            <p class="example">
                Split and <span class="insertion">insert</span>: MELON &rarr; <span class="big-space">ME LONG</span>
            </p>
            <p class="example">
                Combine and <span class="mutation">mutate</span>: <span class="big-space">CAT BODE</span> &rarr; CATHODE
            </p>
            <p>
                Feel free to try words and make mistakes. Backspace can be used to undo
                prior guesses without penalty.
            </p>
        </div>
    </div>
    <!-- [[ ]] is for Vue templating -->
    <div id="whole-page" class="vert-center" style="height: 100%;">
        <h1 id="game-title">INDEL</h1>
        <h1 id="help-launcher">?</h1>
        <div id="app-wrapper" class="vert-center">
            <div id="indel-app">
                <div id="previous-guesses" class="vert-center">
                    <h1 v-for="word in previousWords"> [[word]] </h1>
                    <h1 id="current-word">[[ currentWord.join('') + '|' ]]</h1>
                </div>
                <hr style="width: 400px;">
                <h1 id="target-word"> [[targetWord]] </h1>
                <h1 id="num-guesses" class="winner hidden">in [[previousWords.length - 1]] steps</h1>
                <h3 id="emoji-chain" class="hidden"></h3>
            </div>
            <div id="keyboard"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- <script src="https://unpkg.com/vue@next"></script> -->
<script src="https://unpkg.com/vue@v3.2.27"></script>
<script src="{{url_for('static', filename = 'indel.js')}}"></script>
</html>